
body>nav>ul>li>.disabled_button{
    border-color: rgb(5, 5, 15);
    background-color:rgb(5, 5, 15);
    left:3px;
    color:rgb(44, 43, 43);
}

*{
    color:white;
    display:inline-block;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    background-color:rgb(5, 5, 15);
    max-width:2000px;
    max-height:150px;
    margin:0px;
    right:50px;
    position:relative;
}

.navbar_link{
    font-size: 20px;
    font-weight:bold;
    
}

.dropdown{
    display:grid;
    position: relative;
    top:15px;
}

.searchbar{
    position:relaive;
    left: 100px;
}

li{
    list-style:none;
    font-size:18px;
}


form>button{
    color:green;
    border-color: green;
    background-color:rgb(5, 5, 15);
}

