*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 350px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 0;
    border:1px solid rgba(180, 175, 175, 0.438);
    border-radius: 3%;
}

div{
    font-size:20px;
    padding:10px; 
}

a{ 
    color:rgb(37, 92, 211);
    padding: 1px 5px;
}

#figure{
    padding:0;
}

#img{
    width:100%;
    height:auto;
    border-top-left-radius:3% ;
    border-top-right-radius:3% ;
    background-color:grey;
    color:white;
   }

#card_links{
    padding-top:20px;
    padding-bottom:20px;
}

.card_item{
    border:1px solid rgba(180, 175, 175, 0.438);
}
