*{
    margin:0;
    padding:0;
}

.calculator{
    width:400px;
    height:400px;
    border-radius: 10px;
    border:2px solid rgba(207, 205, 205, 0.808);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(auto-fill,1fr);
    display:grid;
    grid-column:25% 25% 25% 25%;
    grid-template-areas: 
    "display display display display"
    "button_plus button_minus button_x button_division"
    "button_7 button_8 button_9 button_equal"
    "button_4 button_5 button_6 button_equal"
    "button_1 button_2 button_3 button_equal"
    "button_0 button_point button_AC button_equal"
}

.button{
    border-color: rgba(137,157,174,255);
    border:1.5px solid rgba(137,157,174,255);
    padding:20px 40px;
    background-color:rgba(239,242,245,255);
}

.display{
    background-color:rgba(66,76,82,255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    grid-column: span 4;
    grid-area: display;
    padding-left: 375px;
    padding-top: 10px;
    
}

.button_operator{
    background-color:rgba(210,220,227,255);
    border:1.5px solid rgba(137,157,174,255);
    padding:20px 40px;
}

.button_equal{
    background-color:rgb(243,115,115);
    border:1.5px solid rgba(137,157,174,255);
    grid-row: span 4;
    grid-area: button_equal; 
    padding:120px 40px;
    border-bottom-right-radius: 10px;
}

#button_plus{
    grid-area: button_plus;
}
#button_minus{
    grid-area: button_minus;
}
#button_x{
    grid-area: button_x;
}
#button_division{
    grid-area: button_division;
}
#button_7{
    grid-area: button_7;
}
#button_8{
    grid-area: button_8;
}
#button_9{
    grid-area: button_9;
}
#button_4{
    grid-area: button_4;
}
#button_5{
    grid-area: button_5;
}
#button_6{
    grid-area: button_6;
}
#button_1{
    grid-area: button_1;
}
#button_2{
    grid-area: button_2;
}
#button_3{
    grid-area: button_3;
}
#button_0{
    grid-area: button_0;
    border-bottom-left-radius: 10px;
}
#button_point{
    grid-area: button_point;
}
#button_AC{
    grid-area: button_AC;
}